<!DOCTYPE HTML>
<html lang="pt">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta property="og:title"         	content="{{ site.title }} - {{page.title}}" />
		<meta property="og:type"          	content="website" />
		<!--<meta property="og:url"           	content="https://nomes.aprender.digital/a/AnaLaura.html/" />-->
		<meta property="og:image"         	content="https://nomes.aprender.digital/{{page.picture}}" />
		<meta property="og:image:type" 			content="image/jpeg" />
		<meta property="og:image:width" 		content="1200" />
		<meta property="og:image:height" 		content="628" />
		<meta property="fb:app_id"          content="1361733010640564" /> 
		<meta property="og:description"   	content="{{page.description}}" />
		<meta property="og:locale" 		  		content="pt_BR" />
	
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">	</head>
	<body class="is-preload">
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=1361733010640564&autoLogAppEvents=1"></script>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/index.html" class="logo">
									<span class="symbol"><img src="/images/logo.svg" alt="" /></span><span class="title">{{site.title}}</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/index.html">Home</a></li>
							<li><a href="/index.html#Alice">Alice...</a></li>
							<li><a href="/index.html#Elisa">Elisa...</a></li>
							<li><a href="/index.html#Marina">Marina...</a></li>
							<li><a href="/index.html#Valentina">Valentina...</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<h1>{{page.title}}</h1>
							<!--<span class="image main"><img src="/images/pic13.jpg" alt="" /></span>-->
							<p class="bigger">{{page.full-description}}</p>
							<p class="bigger">Veja o <i>banner</i> que criamos para {{page.artigo}} {{page.title}}. 😍</p>
							<span class="image main"><img src="{{page.picture}}" alt="" /></span>
						</div>
						<p></p>
						<div class="inner">
							<div class="row ">
								<div class="col-8 col-12-small">
									<p><spam class="bigger">🎁 Preparamos um <b>PRESENTE</b> exclusivo para {{page.artigo}} <b>{{page.title}}</b>! 
										<a onClick = "presente()" href="javascript:void(0);">Clique e confira</a>!</spam>
										
									<spam class="texto-desktop">
										<br />
										Incentivar a leitura é nossa vocação! 
										Por isso, criamos um livro digital personalizado, 
										para crianças em fase de alfabetização usando como estratégia o nome do leitor envolvido na história! 
										De 0 a 100 anos, a emoção de se encontrar durante a leitura é igual para todos! 
										Por isso, acreditamos que {{page.artigo}} {{page.title}} vai adorar essa surpresa!
									</spam>
								 </p>
								</div>
	
								<div class="col-4 col-12-small">
								<div id="clickbox" class="box3d">
									<img src="/images/misterybox.jpg" />
									<div class="inner">
										<p class="etiqueta">Entrega para:</p>
										<span class="etiqueta">{{page.title}}</span>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<section id="comments">
							<h2>Não encontrou o nome que procurava?</h2>
							<p>Use o seu Facebook e conte para nós aqui em baixo 👇 qual nome você quer ver em nossa lista.</p>
							<div class="fb-comments" data-href="https://nomes.aprender.digital" data-width="" data-numposts="30"></div>

						</section>
						<section>
							<h2>Contato</h2>
							<ul class="icons">
								<li><a href="https://www.facebook.com/pagina.aprender.digital/" target="_blank" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="mailto:equipe.aprender.digital@gmail.com?subject=Dicionario de nomes" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</section>
						<ul class="copyright">
							<li>&copy; APRENDER.digital. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</footer>
			</div>

		<!-- Scripts -->
		<script>
			
			function generateURL() {
				return ("/presente/index.html?n={{page.title}}&g={{page.artigo}}&u=" + window.location.pathname);
			}
			function presente() {
				window.location.href = generateURL();
			}
			document.getElementById('clickbox')
				.addEventListener('click', function (event) {
					window.location.href = generateURL();
				});
		</script>
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>